/* VARIABLES */ 

/* FAMILIAS DE FUENTES */
$font-gral: 'Lexend', sans-serif;
$paragraph-f: 'Montserrat', sans-serif;
$link-f: 'Spartan', sans-serif;

/* FONT SIZES*/
$gral-fs: 30px;
$gral-tb-fs: 20px;
$gral-cp-fs: 8px;

$link-gral: 15px;
$link-tb-gral: 15px;
$link-cp-gral: 9px;

/* MARGINS */
$margin-gral: 0 200px;
$margin-tb-gral: 0 75px 0 75px;
$margin-cp-gral: 0;



